In [1]:
from gen_random_query import gen_random_query

q = gen_random_query()
q

{'start_datetime': '2023-10-20 00:00',
 'end_datetime': '2023-12-15 00:00',
 'time_resolution': 'year',
 'time_agg_method': 'min',
 'min_lat': -19,
 'max_lat': 0,
 'min_lon': 44,
 'max_lon': 148}

In [2]:
import pandas as pd

df_meta = pd.read_csv("metadata.csv")
df_meta

,max_lat,min_lat,max_lon,min_lon,start_year,end_year,time_resolution,aggregation,file_path
0,90,30,-120,-180,2022,2023,hour,hour,data/output/file_0_hour.nc
1,90,30,-120,-180,2022,2023,day,mean,data/output/file_0_day_mean.nc
2,90,30,-120,-180,2022,2023,day,max,data/output/file_0_day_max.nc
3,90,30,-120,-180,2022,2023,day,min,data/output/file_0_day_min.nc
4,90,30,-120,-180,2022,2023,month,mean,data/output/file_0_month_mean.nc
...,...,...,...,...,...,...,...,...,...
235,-30,-90,180,120,2022,2023,year,max,data/output/file_34_year_max.nc
236,-30,-90,180,120,2022,2023,year,min,data/output/file_34_year_min.nc
237,-30,-90,180,120,2020,2021,year,mean,data/output/file_35_year_mean.nc
238,-30,-90,180,120,2020,2021,year,max,data/output/file_35_year_max.nc
239,-30,-90,180,120,2020,2021,year,min,data/output/file_35_year_min.nc

In [ ]:
import duckdb

In [ ]:
def get_raster_judger(q, df_meta) -> bool:
    # TODO
    return False

In [ ]:
def calc_api_range(q, df_meta):
    # TODO
    pass