In [7]:
from gen_random_query import gen_random_query

q = gen_random_query()
q

{'start_datetime': '2022-05-24 00:00',
 'end_datetime': '2023-07-09 00:00',
 'time_resolution': 'year',
 'time_agg_method': 'min',
 'min_lat': 63,
 'max_lat': 65,
 'min_lon': 94,
 'max_lon': 139}

In [ ]:
"""DESIGN - YUCHUAN AND MAURICE:"""
"""
Given a query,

query_set = set of spatial-temporal points needed by the query
missing_set = query_set
for each file in metadata:
file_set = spatial-temporal points in file
overlap = missing_set.intersection(file_set)
missing_set = missing_set - overlap
if len(missing_set) == 0:
return True

return False, missing_set
"""

In [18]:
import pandas as pd

df_meta = pd.read_csv("metadata.csv")
df_meta

,max_lat,min_lat,max_lon,min_lon,start_year,end_year,time_resolution,aggregation,file_path
0,90,30,-120,-180,2022,2023,hour,hour,data/output/file_0_hour.nc
1,90,30,-120,-180,2022,2023,day,mean,data/output/file_0_day_mean.nc
2,90,30,-120,-180,2022,2023,day,max,data/output/file_0_day_max.nc
3,90,30,-120,-180,2022,2023,day,min,data/output/file_0_day_min.nc
4,90,30,-120,-180,2022,2023,month,mean,data/output/file_0_month_mean.nc
...,...,...,...,...,...,...,...,...,...
235,-30,-90,180,120,2022,2023,year,max,data/output/file_34_year_max.nc
236,-30,-90,180,120,2022,2023,year,min,data/output/file_34_year_min.nc
237,-30,-90,180,120,2020,2021,year,mean,data/output/file_35_year_mean.nc
238,-30,-90,180,120,2020,2021,year,max,data/output/file_35_year_max.nc
239,-30,-90,180,120,2020,2021,year,min,data/output/file_35_year_min.nc

In [21]:
import duckdb
duckdb.sql(f'''SELECT * FROM df_meta WHERE ((df_meta.max_lat <= {q['max_lat']} or df_meta.min_lat >= {q['min_lat']}) and (df_meta.max_lon <= {q['max_lon']} or df_meta.min_lon >= {q['min_lon']}) and df_meta.aggregation = '{q['time_agg_method']}');''')

┌─────────┬─────────┬─────────┬─────────┬────────────┬──────────┬─────────────────┬─────────────┬──────────────────────────────────┐
│ max_lat │ min_lat │ max_lon │ min_lon │ start_year │ end_year │ time_resolution │ aggregation │            file_path             │
│  int64  │  int64  │  int64  │  int64  │   int64    │  int64   │     varchar     │   varchar   │             varchar              │
├─────────┼─────────┼─────────┼─────────┼────────────┼──────────┼─────────────────┼─────────────┼──────────────────────────────────┤
│      30 │     -30 │    -120 │    -180 │       2022 │     2023 │ day             │ min         │ data/output/file_12_day_min.nc   │
│      30 │     -30 │    -120 │    -180 │       2022 │     2023 │ month           │ min         │ data/output/file_12_month_min.nc │
│      30 │     -30 │    -120 │    -180 │       2022 │     2023 │ year            │ min         │ data/output/file_12_year_min.nc  │
│      30 │     -30 │    -120 │    -180 │       2020 │     2021 │ year            │ min         │ data/output/file_13_year_min.nc  │
│      30 │     -30 │     -60 │    -120 │       2022 │     2023 │ day             │ min         │ data/output/file_14_day_min.nc   │
│      30 │     -30 │     -60 │    -120 │       2022 │     2023 │ month           │ min         │ data/output/file_14_month_min.nc │
│      30 │     -30 │     -60 │    -120 │       2022 │     2023 │ year            │ min         │ data/output/file_14_year_min.nc  │
│      30 │     -30 │     -60 │    -120 │       2020 │     2021 │ year            │ min         │ data/output/file_15_year_min.nc  │
│      30 │     -30 │       0 │     -60 │       2022 │     2023 │ day             │ min         │ data/output/file_16_day_min.nc   │
│      30 │     -30 │       0 │     -60 │       2022 │     2023 │ month           │ min         │ data/output/file_16_month_min.nc │
│       · │      ·  │       · │       · │         ·  │       ·  │  ·              │  ·          │                ·                 │
│       · │      ·  │       · │       · │         ·  │       ·  │  ·              │  ·          │                ·                 │
│       · │      ·  │       · │       · │         ·  │       ·  │  ·              │  ·          │                ·                 │
│     -30 │     -90 │     120 │      60 │       2022 │     2023 │ year            │ min         │ data/output/file_32_year_min.nc  │
│     -30 │     -90 │     120 │      60 │       2020 │     2021 │ year            │ min         │ data/output/file_33_year_min.nc  │
│      30 │     -30 │     180 │     120 │       2022 │     2023 │ day             │ min         │ data/output/file_22_day_min.nc   │
│      30 │     -30 │     180 │     120 │       2022 │     2023 │ month           │ min         │ data/output/file_22_month_min.nc │
│      30 │     -30 │     180 │     120 │       2022 │     2023 │ year            │ min         │ data/output/file_22_year_min.nc  │
│      30 │     -30 │     180 │     120 │       2020 │     2021 │ year            │ min         │ data/output/file_23_year_min.nc  │
│     -30 │     -90 │     180 │     120 │       2022 │     2023 │ day             │ min         │ data/output/file_34_day_min.nc   │
│     -30 │     -90 │     180 │     120 │       2022 │     2023 │ month           │ min         │ data/output/file_34_month_min.nc │
│     -30 │     -90 │     180 │     120 │       2022 │     2023 │ year            │ min         │ data/output/file_34_year_min.nc  │
│     -30 │     -90 │     180 │     120 │       2020 │     2021 │ year            │ min         │ data/output/file_35_year_min.nc  │
├─────────┴─────────┴─────────┴─────────┴────────────┴──────────┴─────────────────┴─────────────┴──────────────────────────────────┤
│ 48 rows (20 shown)                                                                                                     9 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
def get_raster_judger(q, df_meta) -> bool:
    # TODO
    return False

In [ ]:
def calc_api_range(q, df_meta):
    # TODO
    pass